* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Teko, sans-serif;

    a {
        color: white;
    }
}

body {
    background-color: black;
    color: white;
}

