@import "../../Global/GlobalStyles.scss";

.container {
    display: flex;
    padding: 2em;
    margin-top: 4em;

    gap: 1em;

    @include xs {
        flex-direction: column;
        padding: 0.5em;
        margin-top: 3em;
    }

    @include sm {
        flex-direction: column;
        padding: 0.5em;
        margin-top: 3em;
    }


    .left-section {
        padding: 2em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include xs {
            height: 20em;
            width: 20em;
        }

        @include sm {
            height: 20em;
            width: 20em;
        }

        .img-container {
            border-radius: 1.2em;
            

            img {

                height: 35em;
                width: 35em;
                object-fit: cover;
                border-radius: 1.2em;

                @include xs {
                    height: 20em;
                    width: 20em;
                }

                @include sm {
                    height: 20em;
                    width: 20em;
                }

            }

        }
    }

    .right-section {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.3em;
        padding: 2em;
        margin-top: 3em;


        @include xs {
            height: 20em;
            width: 20em;
            margin-top: -1em;
            padding: 1.5em 1em;
        }

        @include sm {
            height: 20em;
            width: 20em;
            margin-top: -1em;
            padding: 1.5em 0.5em;
        }

        .title-container {
            
            h1 {

                font-size: 3em;

                @include xs {
                    font-size: 2em;
                    line-height: 1.2em;
                }

                @include sm {
                    font-size: 2em;
                    line-height: 1.2em;
                }
            }
        }

        .section-container {
            span {
                font-size: 1.5em;

                @include xs {
                    font-size: 1.2em;
                }

                @include sm {
                    font-size: 1.3em;
                }
            }
        }

        .bottom-container {


            .education-section {
                .title {
                    font-size: 1.2em;
                    span {
                        font-weight: normal;

                        @include xs {
                            font-size: 0.9em;
                        }

                        @include sm {
                            font-size: 1em;
                        }
                    }

                    @include xs {
                        font-size: 1em;
                    }

                    @include sm {
                        font-size: 1.1em;
                    }
                }

                .info-section {
                    span {
                        font-size: 1.5em;

                        @include xs {
                            font-size: 1.2em;
                        }

                        @include sm {
                            font-size: 1.3em;
                        }
                    }

                    @include xs {
                        margin-top: 1em;
                        margin-bottom: 2em;
                    }

                    @include sm {
                        margin-top: 1em;
                        margin-bottom: 2em;
                    }
                }
            }
        }

        
    }

    
}